<h1>Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- R
- C++
- Python

Some of the popular languages that Data Scientists use are:
1. R
2. C++
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlip
3. NumPy
4. Scipy
5. TensorFlow

|Data Science Tools|
---
|Rstudio|
|Apache Spark|
|TensorFlow|

<h3> Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integer

In [2]:
(3*4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes//60
print(hours)

3

<h2> Author

Kartini